@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

/* BODY */
body {
    margin: 0px;
    background-color: #919187ff;
    color: #636363;
    font-family: 'Barlow';
}

img {
    margin-bottom: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* NAV */
.navbar {
    background-color: transparent;
    padding: 10px;
    transition: background-color 1.5s;
    -webkit-transition: background-color 1.5s;
    -moz-transition: background-color 1.5s;
    -ms-transition: background-color 1.5s;
    -o-transition: background-color 1.5s;
}

/* fade to this color */
.dark-background {
    background-color: rgba(65, 67, 30, 0.608);
}

/* HEADER */
header {
    height: 99vh;
    background-image: url(https://images.pexels.com/photos/4906419/pexels-photo-4906419.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

/* HEADER TOP */
.header-top {
    height: 40vh;
    background-image: url(https://images.pexels.com/photos/4906419/pexels-photo-4906419.jpeg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER POST DETAILS */
.header-post {
    height: 40vh;
    background-image: url(https://images.pexels.com/photos/4906419/pexels-photo-4906419.jpeg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* COLORS - SIZES */ 
hr {
    color: rgba(16, 16, 16, 0);
    padding-top: 20px;
    border-bottom: 5px solid rgba(16, 16, 16, 0.372);
}

a {
    color: #f3f3f3;
    text-decoration: none;
}

h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #636363;
    margin-bottom: 40px;
}

h3 a {
        color: #636363;
}

.content-container {
    background-color: #AAAAA9ff;
    margin-bottom: 50px;
    margin-top: -20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* COLORS AND ALIGN HERO BASE */
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f3f3f3;
}

.hero-text h1 {
    font-size: 10vw;
}

.hero-text p {
    margin-top: -5%;
    font-size: 5vw;
}

/* COLORS HERO TOP */
.hero-text-top h1 {
    margin-top: 20px;
    color: #f3f3f3;
    font-size: 7vw;
}

.hero-text-top p {
    font-size: 4vw;
    margin-top: -12px;
    color: #f3f3f3;
}

/* COLORS HERO DETAILS */
.hero-text-details {
    margin-top: 20px;
    color: #f3f3f3;
    font-size: 6vh;
}

/* AUTHOR */
.auth {
    text-transform: uppercase;
    color: #636363;
    font-size: 1em;
    font-weight: 600;
}

.auth-tag {
    text-transform: uppercase;
    color: #636363;
    font-size: 0.7em;
    margin-top: -8px;
}

.auth-details {
    text-transform: uppercase;
    color: #636363;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 5px;
}

.auth-tag-d {
    text-transform: uppercase;
    text-align: end;
    color: #636363;
    font-size: 0.7em;
}

.auth-tag-details {
    text-transform: uppercase;
    margin-top: -8px;
}

.auth-div {
    margin-bottom: 10px;
    
}

/* AUTHOR IMAGES */
.profile-image-div {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.profile-image-details {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0;
}

/* COLORS CATEGORIES */
.technology-span {
    background-color: rgb(107, 219, 163);
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'Barlow';
    font-size: .8em;
}

.politics-span {
    background-color: rgb(255, 253, 119);
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'Barlow';
    font-size: .8em;
}

.economy-span {
    background-color: rgb(118, 232, 247);
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: .8em;
}

.music-span {
    background-color: rgb(168, 118, 247);
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: .8em;
}

.space-span {
    background-color: rgb(247, 202, 118);
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: .8em;
}


/* POST FOOTER - SOCIAL */
.post-footer {
    background-color: rgb(161, 161, 155);
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.category-btn {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 10px;
}

.social-btn {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px;
    text-align: right;
    font-size: 1.5em;
}

.comment-icon {
    color: #f3f3f3;
}

.comment-icon:hover {
    animation: pulse 1s infinite;
    }

.vote-icon {
    color: #f3f3f3;
}

.vote-icon:hover {
animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }  
}

.comment-count {
    font-size: .8em;
    font-weight: 400;
    color: #f3f3f3;
}

.vote-count {
    font-size: .8em;
    font-weight: 400;
    margin-right: -5px;
    margin-bottom: -6px;
    color: #f3f3f3;
}

/* COMMENTS */
.post-comments {
    background-color: #919187ff;
    margin-top: 30px;
    margin-bottom: -15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.comments-div {
    margin-bottom: 50px;
}

.comments-footer {
    margin-top: 20px;
    background-color: rgb(161, 161, 155);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* WRITE NAME and COMMENT WIDTH */
textarea, 
input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: rgb(92, 92, 85);
    color: #37382f;
    text-align: center;
}

footer h5 {
    font-size: 2em;
}

footer h6 {
    font-size: 1.1em;
}

footer p {
    font-size: 1em;
}

footer i {
    font-size: 1em;
    margin-top: 10px;
    color: #414237;
}

.footer-social i {
    font-size: 1.5em;
    margin: 5px;
    color: #414237;
}

.footer-social:hover {
    color: #acad9d;
}

.raw-footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* LOGIN - SIGN UP MODAL */
.modal-content {
    background-color: rgb(161, 161, 155);
    color: #414237;
}

.modal-header {
    border: 0px;
    background-color: #919187ff;
}

.modal-content h4 {
    font-size: 1.5em;
    color: #f3f3f3;
}

.modal-content p {
    font-size: 1em;
    color: #414237;
}

/* 404 */
.not-found i {
    font-size: 10em;
    margin: 5px;
}

/* OTHER */
.arrow {
    color: #f3f3f3;
    font-size: 6em;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(50%);
    -moz-transform: translateX(-50%) translateY(50%);
    -ms-transform: translateX(-50%) translateY(50%);
    -o-transform: translateX(-50%) translateY(50%);
}

.flex-end {
    display: flex;
    align-content: flex-end;
}

.flex-around {
    display: flex;
    align-content: space-around;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.text-shadow {
    text-shadow: 0px 2px 15px black;
}