<!DOCTYPE html>
<html lang="en">
    
<head>
    
    {% load static %}
    {% load i18n %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share your news, join us at Interesting">
    <meta name="keywords" content="news, world news, local news, top news">
    <meta name="author" content="Interesting News Team">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>INTERESTING - YOUR NEWS FIX</title>
</head>

<body>

    <nav class="navbar text-shadow fixed-top dark-background navbar-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/../">interesting</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'top_posts' %}">Popular News</a>
                    </li>
                </ul>

                <div class="nav-item">
                    {% if user.is_authenticated %}
                    <p class="nav-link logged-text">You are logged in as {{ user }}</p>
                    {% else %}
                    <p class="nav-link logged-text">You are not logged in</p>
                    {% endif %}
                </div>

                <ul class="d-flex navbar-nav">

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                        data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == create_news %}active{% endif %}" aria-current="page"
                            data-bs-toggle="modal" data-bs-target="#createNewsModal">Create News</a>
                    </li>
                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                            data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                            data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    </main>

    <!-- Sign In modal -->
    <div class="modal shadow fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="signInModalLabel">Sign In</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/accounts/login/">
                        {% csrf_token %}
                        <p>
                            <label for="id_login">Username:</label>
                            <input type="text" name="login" placeholder="Username" autocomplete="username"
                                maxlength="200" required="" id="id_login">
                        </p>
                        <p>
                            <label for="id_password">Password:</label>
                            <input type="password" name="password" placeholder="Password"
                                autocomplete="current-password" required="" id="id_password">
                        </p>
                        <p>
                            <label for="id_remember">Remember Me:</label>
                            <input type="checkbox" name="remember" id="id_remember">
                        </p>
                        <h5>
                            <span class="helptext"><a href="/accounts/password/reset/">
                                    Forgot your password?</a></span>
                        </h5>
                        <br>
                        <button type="submit" class="btn btn-outline-success">
                            Sign In
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Up modal -->
    <div class="modal shadow fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="signUpModalLabel">Sign Up</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% if user.is_authenticated %}
                    {% else %}

                    <p>
                        Already have an account? Then please <a href="/accounts/login/">sign in</a>.
                    </p>

                    <div class="row">
                        <div class="col-4 text-end">
                            <form method="post" action="/accounts/signup/">
                                {% csrf_token %}
                                <p>
                                    <label for="id_username">Username:</label>
                                </p>
                        </div>

                        <div class="col-8">
                            <input type="text" name="username" placeholder="Username" autocomplete="username"
                                minlength="1" maxlength="150" required="" id="id_username">
                        </div>

                        <div class="col-4 text-end">
                            <p>
                                <label for="id_email">Email (optional):</label>
                            </p>
                        </div>

                        <div class="col-8">
                            <input type="email" name="email" placeholder="Email address" autocomplete="email"
                                id="id_email">
                        </div>

                        <div class="col-4 text-end">
                            <p>
                                <label for="id_password1">Password:</label>
                            </p>
                        </div>

                        <div class="col-8">
                            <input type="password" name="password1" placeholder="Password"
                                required="" id="id_password1" aria-autocomplete="list">
                            <span class="helptext"></span>
                        </div>

                        <div class="col-4 text-end">
                            <p>
                                <label for="id_password2">Password (again):</label>
                            </p>
                        </div>

                        <div class="col-8">
                            <input type="password" name="password2" placeholder="Password (again)"
                                required="" id="id_password2">
                            
                        </div>

                    </div>
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>

                    <button type="submit" class="btn btn-outline-success">
                        Sign Up
                    </button>

                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Out modal -->
    <div class="modal shadow fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="logoutModalLabel">Sign Out</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    

        <p>{% trans 'Are you sure you want to sign out?' %}</p>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-outline-warning right" type="submit">{% trans 'Sign Out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Create News Modal -->
    <div class="modal shadow fade" id="createNewsModal" tabindex="-1" aria-labelledby="createNewsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="createNewsModallabel">Create News</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% load account %}

                    <form method="post" action="{% url 'create_news' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ news_post_form.as_p }}
                        <button type="submit" class="btn btn-outline-success">Create Post</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-5 mx-auto raw-footer">
                    <div class="col-8 mx-auto">
                        <h5>INTERESTING</h5>
                        <p>tell me more.</p>
                        <hr>
                        <i class="fa-solid fa-house"></i>
                        <p>A place for you to see your
                            best news, the good and the
                            bad. </p>
                        <p>The idea is to let you, the users
                            post the news you find interesting.
                            and then but the magic of social
                            media make sure you have a good
                            time. Read something you didnt
                            know, learn a new subject, find
                            a new hobbie.</p>
                        <hr>
                        <i class="fa-solid fa-envelope"></i>
                        <p><strong>INTE.RESTING</strong><br>
                            Kneppingen 21<br>
                            60332 Norrköping</p>
                        <h6>Sweden</h6>
                        <i class="fa-solid fa-phone"></i>
                        <p>+46 0736 74 6886</p>
                        <hr>
                    </div>

                    <div class="footer-social">
                        <a href="#" target="_blank" title="facebook" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" title="Twitter / X" rel="noopener"
                            aria-label="Visit our Twitter / X page (opens in a new tab)">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank" title="GitHub" rel="noopener"
                            aria-label="Visit our GitHub page (opens in a new tab)">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank" title="Instagram" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#" target="_blank" title="LinkedIn" rel="noopener"
                            aria-label="Visit our LinkedIn page (opens in a new tab)">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>