{% extends 'base.html' %}

{% load static %}

{% block content %}

<header class="header-post">
    <div class="container">
        <div class="col-md-10 mx-auto text-center">
            <h1 class="hero-text-details text-shadow">{{ post.title }}</h1>
        </div>
    </div>

</header>

<main>

    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-10 col-md-12 mx-auto content-container">
                <div class="row">
                    <div class="content">

                        {% if post.featured_image %}
                        <img class="img" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                        {% endif %}

                        <p>
                            {{ post.content | safe }}
                        </p>
                    </div>
                </div>

                <div class="row auth-div">
                    <div class="profile-image-div">

                        {% if post.author.profile.avatar and post.author.profile.avatar.url %}
                        <img src="{{ post.author.profile.avatar.url }}" class="profile-image-details"
                            alt="{{ post.author.username }}">
                        {% else %}
                        <img src="{% static 'images/avatar.jpg' %}" class="profile-image-details" alt="default user">
                        {% endif %}

                    </div>
                    <div class="col">
                        <h5 class="auth-details">{{ post.author.username }}</h5>
                        <p class="auth-tag-details">{{ post.pub_date }}</p>
                    </div>
                </div>

                <div class="row post-footer">
                    <div class="col-6 category-btn">
                        <span class="{{ post.category.name }}-span">{{ post.category.name }}</span>
                        {% if user.is_authenticated %}
                        <button data-bs-toggle="modal" data-bs-target="#editPostModal-{{ post.slug }}"
                            class="btn btn-primary">Edit</button>
                        {% endif %}
                    </div>
                    <div class="col-6 social-btn">
                        <a href="{% url 'news_details' slug=post.slug %}">
                            <span class="comment-count">{{ post.comments.count }}</span>
                            <i class="fa-solid fa-comment comment-icon"></i>
                        </a>
                        <span class="vote-count">{{ post.votes }}</span>
                        <i class="fa fa-heart vote-icon" data-post-slug="{{ post.slug }}"></i>
                    </div>
                </div>

                <div class="row comments-footer">
                    <div class="col-lg-7  p-4">
                        <h2>Comments</h2>
                        {% for comment in comments %}
                        <div class="row comments-div">
                            <div class=" col-6">
                                <p class="auth">{{ comment.author_name }}</p>
                            </div>
                            <div class=" col-6">
                                <p class="auth-tag-d">{{ comment.pub_date }}</p>
                            </div>
                            <div class="col-12">
                                {{ comment.text }}
                            </div>
                            <hr>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-lg-5  p-4">
                        <h2>Add a Comment</h2>

                        <form method="post" action="{% url 'news_details' slug=post.slug %}" class="comment-form">
                            <label for="author_name">Name:</label>
                            <br>
                            {% if user.is_authenticated %}
                            <input type="text" id="author_name" name="author_name" value="{{ user.username }}" required>
                            {% else %}
                            <input type="text" id="author_name" name="author_name" required>
                            {% endif %}
                            <br>
                            <br>
                            <label for="text">Comment:</label>
                            <br>
                            <textarea id="text" name="text"></textarea>
                            <br>
                            <br>
                            <input type="submit" class="btn btn-success" value="Add Comment">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Post Modal -->
    <div class="modal fade" id="editPostModal-{{ post.slug }}" tabindex="-1"
        aria-labelledby="editPostModalLabel-{{ post.slug }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editPostModalLabel-{{ post.slug }}">Edit Post</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if user.is_authenticated and user == post.author or user.is_superuser %}
                    <!-- EDIT -->
                    <form method="post" action="{% url 'edit_news' slug=post.slug %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ post_form.as_p }}
                        <div class="d-inline">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                    <!-- DELETE -->
                    <form method="post" action="{% url 'delete_news' slug=post.slug %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <!-- DELETE -->
                    <hr>
                    {% endif %}
                    <h5>Comments</h5>
                    {% for comment in comments %}
                    <div class="row">
                        <div class="col-8">
                            <p class="auth">{{ comment.author_name }}</p>
                        </div>
                        <div class="col-4">
                            {% if user.is_authenticated and user == comment.author or user.is_superuser %}
                            <form method="post" action="{% url 'delete_comment' comment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete Comment</button>
                            </form>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <p>{{ comment.text }}</p>
                        </div>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}