{% extends 'base.html' %}

{% load static %}

{% block content %}

<header class="hero-text">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="text-shadow">
            INTERESTING
        </h1>
        <p class="text-shadow">
            tell me more.
        </p>
    </div>
    <!-- HERES THE ARROW, STICKY, VANISHES ON SCROLL -->
    <div class="arrow text-center text-shadow">
        <i class="fa-solid fa-angles-down fa-bounce"></i>
    </div>
</header>

<main>

    <div class="container">
        <div class="row">
            {% for post, form in post_form_pairs %}

            <div class="p-5 col-lg-10 col-md-12 mx-auto content-container">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <h3><a href="{% url 'news_details' slug=post.slug %}">{{ post.title }}</a></h3>
                    </div>
                    <div class="col-lg-3 col-md-12 flex-end">
                        <div class="profile-image-div">
                            {% if post.author.profile.avatar.url %}
                                <img src="{{ post.author.profile.avatar.url }}" class="profile-image" alt="author's face">
                            {% endif %}
                        </div>
                        <div class="auth-div">
                            <h5 class="auth">{{ post.author.username }}</h5>
                            <p class="auth-tag">{{ post.pub_date }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content">
                        
                        <!-- ARTICLE IMAGE VIA CLOUDINARY -->
                        {% if post.featured_image %}
                        <img class="img" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                        {% endif %}
                        
                        <p>
                            {{ post.content | safe }}
                        </p>
                    </div>


                </div>
                <div class="row post-footer">
                    <div class="col-6 category-btn">
                        <span class="{{ post.category.name }}-span">{{ post.category.name }}</span>
                        {% if user.is_authenticated %}
                        <a href="{% url 'news_details' slug=post.slug %}" class="btn btn-primary">Edit</a>
                        {% endif %}
                    </div>
                    <div class="col-6 social-btn">
                        <a href="{% url 'news_details' slug=post.slug %}">
                            <span class="comment-count">{{ post.comments.count }}</span>
                            <i class="fa-solid fa-comment comment-icon"></i>
                        </a>
                        <span class="vote-count">{{ post.votes }}</span>
                        <i class="fa fa-heart vote-icon" data-post-slug="{{ post.slug }}"></i>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}