{% extends 'base.html' %}

{% load static %}

{% block content %}

<header class="header-top">
    <div class="container">
        <div class="col-10 hero-text-top mx-auto text-center">
            <h1 class="text-shadow">
                POPULAR NEWS
            </h1>
            <p class="text-shadow">
                as voted by you.
            </p>
        </div>
    </div>
</header>

<main>

    <div class="container">
        <div class="row">
            {% for post in top_posts %}
            <div class="p-5 col-lg-10 col-md-12 mx-auto content-container">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <h3><a href="{% url 'news_details' slug=post.slug %}">{{ post.title }}</a></h3>
                    </div>
                    <div class="col-lg-3 col-md-12 flex-end">
                        <div class="profile-image-div">
                            <img src="{{ post.author.profile.avatar.url }}" class="profile-image" alt="author's face">
                        </div>
                        <div class="auth-div">
                            <h5 class="auth">{{ post.author.username }}</h5>
                            <p class="auth-tag">{{ post.pub_date }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content">

                        <!-- ARTICLE IMAGE VIA CLOUDINARY -->
                        {% if post.featured_image %}
                        <img class="img" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                        {% endif %}

                        <p>
                            {{ post.content | safe }}
                        </p>
                    </div>
                </div>
                <div class="row post-footer">
                    <div class="col-6 category-btn">
                        <span class="{{ post.category.name }}-span">{{ post.category.name }}</span>
                    </div>
                    <div class="col-6 social-btn">
                        <a href="{% url 'news_details' slug=post.slug %}">
                            <span class="comment-count">{{ post.comments.count }}</span>
                            <i class="fa-solid fa-comment comment-icon"></i>
                        </a>
                        <span class="vote-count">{{ post.votes }}</span>
                        <i class="fa fa-heart vote-icon" data-post-slug="{{ post.slug }}"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}